@font-face{
	font-family:CodeLightcust;
	src:url("Fonts/CODE Light.otf");
}
@font-face{
	font-family:CodeBoldcust;
	src:url("Fonts/CODE Bold.otf");
}
body {
	background-color:darkgrey;
	overflow:hidden;
}

#vfoldingcontainer{
	position:absolute;
	left:100px
}


#divone {
	font-family:CodeLightcust;
	font-size:32px;
	text-align:center;
	position:relative;
	top:0px;
	left:0px;
	width:300px;
	height:75px;
	background-color:lightblue;
	-webkit-transform:translateY(0px) perspective(0px) rotatex(0deg);
    -moz-transform:translateY(0px) perspective(0px) rotatex(0deg);
    -ms-transform:translateY(0px) perspective(0px) rotatex(0deg);
    -o-transform:translateY(0px) perspective(0px) rotatex(0deg);
    transform:translateY(0px) perspective(0px) rotatex(0deg);
	-webkit-transition: all 100ms;
	-moz-transition: all 100ms ;
	-ms-transition: all 100ms ;
	-o-transition: all 100ms ;
	transition: all 100ms ;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	
}

.divclass1 {
	position:relative;
	top:0px;
	left:0px;
	width:300px;
	height:75px;
	background-color:white;
	-webkit-transform:translateY(0px) perspective(0px) rotatex(0deg);
    -moz-transform:translateY(0px) perspective(0px) rotatex(0deg);
    -ms-transform:translateY(0px) perspective(0px) rotatex(0deg);
    -o-transform:translateY(0px) perspective(0px) rotatex(0deg);
    transform:translateY(0px) perspective(0px) rotatex(0deg);
	-webkit-transition: all 100ms ;
	-moz-transition: all 100ms ;
	-ms-transition: all 100ms ;
	-o-transition: all 100ms ;
	transition: all 100ms ;
	-webkit-transform-origin:top center;
	-moz-transform-origin:top center;
	transform-origin:top center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	
}
.divclass2 {
	position:relative;
	top:0px;
	left:0px;
	width:300px;
	height:75px;
	background-color:white;
	-webkit-transform:translateY(0px) perspective(0px) rotatex(0deg);
    -moz-transform:translateY(0px) perspective(0px) rotatex(0deg);
    -ms-transform:translateY(0px) perspective(0px) rotatex(0deg);
    -o-transform:translateY(0px) perspective(0px) rotatex(0deg);
    transform:translateY(0px) perspective(0px) rotatex(0deg);
	-webkit-transition: all 100ms ;
	-moz-transition: all 100ms ;
	-ms-transition: all 100ms ;
	-o-transition: all 100ms ;
	transition: all 100ms ;
	-webkit-transform-origin:bottom center;
	-moz-transform-origin:bottom center;
	transform-origin:bottom center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	
}

#divone:hover ~ #divtwo {
	-webkit-transform:perspective(500px) rotatex(45deg);
    -moz-transform:perspective(500px) rotatex(45deg);
    -ms-transform:perspective(500px) rotatex(45deg);
    -o-transform:perspective(500px) rotatex(45deg);
    transform:perspective(500px) rotatex(45deg);
    opacity:1; 
}
#divone:hover ~ #divthree {
	-webkit-transform:translateY(-33.5px) perspective(500px) rotatex(-45deg);
    -moz-transform:translateY(-33.5px) perspective(500px) rotatex(-45deg);
    -ms-transform:translateY(-33.5px) perspective(500px) rotatex(-45deg);
    -o-transform:translateY(-33.5px) perspective(500px) rotatex(-45deg);
    transform:translateY(-33.5px) perspective(500px) rotatex(-45deg);
    opacity:0.5; 
}
#divone:hover ~ #divfour {
	-webkit-transform:translateY(-33.5px) perspective(500px) rotatex(45deg);
    -moz-transform:translateY(-33.5px) perspective(500px) rotatex(45deg);
    -ms-transform:translateY(-33.5px) perspective(500px) rotatex(45deg);
    -o-transform:translateY(-33.5px) perspective(500px) rotatex(45deg);
    transform:translateY(-33.5px) perspective(500px) rotatex(45deg);
    opacity:1; 
}
#divone:hover ~ #divfive {
	-webkit-transform:translateY(-67px) perspective(500px) rotatex(-45deg);
    -moz-transform:translateY(-67px) perspective(500px) rotatex(-45deg);
    -ms-transform:translateY(-67px) perspective(500px) rotatex(-45deg);
    -o-transform:translateY(-67px) perspective(500px) rotatex(-45deg);
    transform:translateY(-67px) perspective(500px) rotatex(-45deg);
    opacity:0.5; 
}


.button {
	background:White;
	position:fixed;
	top:0px;
	left:0px;
	outline:none;
	border:none;
	width:50px;
	height:50px;
	border-bottom-right-radius:50px;
	border-top-right-radius:50px;
	overflow:hidden;
	-webkit-transition: left 600ms ease;
	-moz-transition: left 600ms ease;
	-ms-transition: left 600ms ease;
	-o-transition: left 600ms ease;
	transition: left 600ms ease;
	
}
#enclosure {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	-webkit-transition: left 600ms ease;
	-moz-transition: left 600ms ease;
	-ms-transition: left 600ms ease;
	-o-transition: left 600ms ease;
	transition: left 600ms ease;
}
.navigation {
	position:fixed;
	left:-250px;
	top:0px;
	width:250px;
	height:100%;
	background:white;
	-webkit-transition: left 600ms ease;
	-moz-transition: left 600ms ease;
	-ms-transition: left 600ms ease;
	-o-transition: left 600ms ease;
	transition: left 600ms ease;
}
.button:hover {
	background:lightgrey;
}
.button:active {
	background:;
}
.threeicon {
	background:grey;
	height:5px;
	width:30px;
}
#threeone {
	position:relative;
	top:-6px;
}
#threetwo {
	position:relative;
	top:0px;
}
#threethree {
	position:relative;
	top:6px;
}
.container{
	position:fixed;
	top:45px;
	left:-245px;
	background:green;
	z-index:1000;
	-webkit-transition: left 600ms ease;
	-moz-transition: left 600ms ease;
	-ms-transition: left 600ms ease;
	-o-transition: left 600ms ease;
	transition: left 600ms ease;
}

#threedbuttonone {
	position:absolute;
	top:10px;
	left:20px;
	width:200px;
	height:50px;
	border:none;
	outline:none;
	background:lightblue;
	font-family:CodeLightcust;
	font-size:32px;
	color:grey;
	-webkit-transform:perspective(200px) rotateX(0deg);
	-moz-transform:perspective(200px) rotateX(0deg);
	transform:perspective(200px) rotateX(0deg);
	-webkit-transform-origin: 112.5px 25px -25px;
	-moz-transform-origin: 112.5px 25px -25px;
	transform-origin: 112.5px 25px -25px;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	transition: all 200ms;
	z-index:100;
}
#threedbuttontwo {
	position:absolute;
	top:10px;
	left:20px;
	width:200px;
	height:50px;
	border:none;
	outline:none;
	background:grey;
	font-family:CodeLightcust;
	font-size:32px;
	color:white;
	-webkit-transform:perspective(200px) rotateX(-90deg);
	-moz-transform:perspective(200px) rotateX(-90deg);
	transform:perspective(200px) rotateX(-90deg);
	-webkit-transform-origin: 112.5px 25px -25px;
	-moz-transform-origin: 112.5px 25px -25px;
	transform-origin: 112.5px 25px -25px;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	transition: all 200ms;
	z-index:10;
}

.container:hover #threedbuttonone{
	-webkit-transform:perspective(200px) rotateX(90deg);
	-moz-transform:perspective(200px) rotateX(90deg);
	transform:perspective(200px) rotateX(90deg);
	z-index:10;
}
.container:hover #threedbuttontwo {
	-webkit-transform:perspective(200px) rotateX(0deg);
	-moz-transform:perspective(200px) rotateX(0deg);
	transform:perspective(200px) rotateX(0deg);
	z-index:100;
}

#group2.container {
	top:125px;
}
#group3.container {
	top:205px;
}
#group4.container {
	top:285px;
}
#group5.container {
	top:365px;
}
#loading {
	position:absolute;
	top:50px;
	left:700px;
	width:256px;
	height:256px;
}
